#gallery {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 200px;
}

.gallery-img {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    animation: fade-in 2s ease forwards;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "img1 img2"
    "img3 img4"
    "img5 img6"
    "img7 img8";
}


/* Imgs */
.img1 {
    grid-area: img1;
    background-image: url("../media/thumbnails/img-1.JPG");
    animation-delay: 0s;
}

.img2 {
    grid-area: img2;
    background-image: url("../media/thumbnails/img-2.JPG");
    animation-delay: 0.2s;
}

.img3 {
    grid-area: img3;
    background-image: url("../media/thumbnails/img-3.JPG");
    animation-delay: 0.4s;
}

.img4 {
    grid-area: img4;
    background-image: url("../media/thumbnails/img-4.JPG");
    animation-delay: 0.6s;
}

.img5 {
    grid-area: img5;
    background-image: url("../media/thumbnails/img-5.JPG");
    animation-delay: 0.8s;
}

.img6 {
    grid-area: img6;
    background-image: url("../media/thumbnails/img-6.JPG");
    animation-delay: 1s;
}

.img7 {
    grid-area: img7;
    background-image: url("../media/thumbnails/img-7.JPG");
    animation-delay: 1.2s;
}

.img8 {
    grid-area: img8;
    background-image: url("../media/thumbnails/img-8.JPG");
    animation-delay: 1.4s;
}

.img-mag a {
    display: none;
}

/* Lightbox */
.img-window {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 200;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-window img {
    top: 0;
    left: 0;
    max-width: 80vw;
    max-height: 85vh;
}

.watermark-div {
    margin-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watermark {
    letter-spacing: 0.2em;
    font-size: 50px;
    font-weight: bold;
    color: rgb(46, 46, 46);
}




/* Larger sreens */
@media (min-width: 1000px) {
    .gallery-img {
        height: 400px;
        width: 100%;
    }

    .gallery-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img7 img8";
    }

    .img-mag {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }

    .img-mag:hover {
        opacity: 0.8;
    }

    .img-mag a {
        display: block;
        font-size: 28px;
        color: white;
        text-decoration: none;
    }


    .img-window img {
        max-width: 100%;
        max-height: auto;
    }

    /* lightbox Btns */
    .img-btn {
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 6px 10px;
        border-radius: 9px;
        background-color: rgb(70, 70, 70);
        position: fixed;
        top: 50vh;
        z-index: 300;
        color: white;
        cursor: pointer;
        transition: all 0.2s;
    }

    .img-btn:hover {
        opacity: 0.8;
    }

    .watermark {
        letter-spacing: 0.7em;
        font-size: 100px;
        position: fixed;
        z-index: 9;
        color: rgb(31, 31, 31);
    }
}
