html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    
}

*.row:not(#projects) {
    padding: 50px;
    
}

.navbar {
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Oxanium', cursive;
}

.jumbotron-fluid {
    height: 800px;
    width: 100%;
    background: url('../media/mainImg.jpg')no-repeat fixed;
    background-size: 100% 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron-fluid h1 {
    font-family: 'Oxanium', cursive;
    font-weight: bold;
    font-size: 50px;
}

#about {
    min-height: 400px;
}

#abtInfo {
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
}

#projects {
    padding-top: 150px;
    min-height: 900px;
}

#projects-label {
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    width: 40%;
    padding: 40px 10px;
    margin: auto;
    box-shadow: 0 50px 30px ;

}

.github {
    color: gray;
}

.proj-thumb a .card {
    margin: auto;
    height: 300px;
    background-color: black;
    border: none;
}

.card-img-top {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s opacity;
}

.card-img-top:hover {
    opacity: 1;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

#contact {
    background-color: #fed766;
}

hr {
    background-color: white;
}

.fa {
    font-size: 40px;
    color: white;
    transition: opacity 0.5s;
    
}

.fa:hover {
    text-decoration: none;
    color: white;
    opacity: 0.4;
}  

@media (max-width: 767px) {
    .card-img-top {
       opacity: 1;
    }

    .proj-thumb a .card {
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
        height: 250px;
    }

}

@media (max-width: 600px) {
    #projects-label {
        width: 70%;
        padding: 30px 0;

    }
}

@media (max-width: 400px) {
    #projects-label {
        padding: 40px 20px;
        word-wrap: break-word;
    }
}